
h1{
  color:rgb(0, 0, 0);
}
h4{
  color:black;
}
.cont{
  height:800px ;
  width: auto;
}
.cont{
  text-align: center;
}
.cont {
  background-image: url("../img/azul.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}